

.mainHeader {
    height: 100vh;
    min-height: 40em;
    background-image: url("https://live.staticflickr.com/7374/13039037424_ff90cde1dd_b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.page-header {
    height: 30vh;
    background-image: url("https://live.staticflickr.com/7374/13039037424_ff90cde1dd_b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

nav {
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}



#about-head {
    position: absolute;
    top: 150px;
    left: 150px;
    color: #28A3B6;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}


#headerPara {
    text-align: center;
    color: #28A3B6;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

#portfolio {
    background-color: #151621;
    position: relative;
}

#headBtn {
    background-color: #DA6419;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

#portBtn {
    background-color: #DA6419;
    position: absolute;
    right: 15px;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

#contactBtn {
    background-color: #DA6419;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

footer {
    position: relative;
}

.footer {
    position: absolute;
    left: 15px;
    bottom: 10px;
}




